*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Josefin Sans',sans-serif;
}
body{
    height: 100vh;
    width: 100%;
    background-color: #111;
    color: #ffff;
}
.hero{
    color: white;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 20px;
    padding-left: 10%;
    padding-right: 10%;
    position: relative;
    z-index: 100;
}
.logo{
    color: #ededed;
    font-size: 1.5em;
}
nav ul li{
    list-style-type: none;
    display: inline-block;
    padding: 10px 30px;
}
nav ul li a{
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    transition: 0.5s;
}
nav ul li a:hover{
    border: 1px solid tomato;
    background: tomato;
    border-radius: 20px;
    padding: 6px 10px;
    
}
.active{
    border: 1px solid tomato;
    background: tomato;
    border-radius: 20px;
    padding: 6px 10px;
}
.hero button{
    border: 2px solid tomato;
    background: tomato;
    padding: 12px 30px;
    border-radius: 30px;
    cursor: pointer;
    font-weight: bold;
    transition: 0.5s;
}
.hero button:hover{
    background: transparent;
    color: tomato;
    border: 2px solid tomato;
}
.carousel{
    /* width: 100vw; */
    height: 100vh;
    overflow: hidden;
    margin-top: -59px;
    position: relative;
}
.carousel .list .item{
    width: 100%;
    height: 100%;
    position: absolute;
    inset: 0 0 0 0;
}
.carousel .list .item img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.carousel .list .item .content{
    position: absolute;
    top: 20%;
    width: 1140px;
    max-width: 80%;
    left: 50%;
    transform: translateX(-50%);
    padding-right: 30%;
    box-sizing: border-box;
    color: #fff;
    text-shadow: 0 5px 10px #0004;
}
.carousel .list .item .content .author{
    font-weight: bold;
    letter-spacing: 10px;
}
.carousel .list .item .content .tittle,
.carousel .list .item .content .topic{
    font-weight: bold;
    font-size: 5em;
    line-height: 1.3em;
}
.carousel .list .item .content .topic{
    color: tomato;
}
.carousel .list .item .content .des{
    color: white;
    border: 2px solid transparent;
    backdrop-filter: blur(10px);
    padding: 10px;
    border-radius: 10px;
    min-height: 100px;
    min-width: 100px;
    font-size: 1.2rem;
}
.carousel .list  .item .content .buttons{
    display: grid;
    grid-template-columns: repeat(2,130px);
    grid-template-rows: 40px;
    gap: 5px;
    margin-top: 20px;
}
.carousel .list .item .content button{
    border: none;
    background-color: #eee;
    letter-spacing: 3px;
    font-weight: 600;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.5s;
}
.carousel .list .item .content button:hover{
    background-color: transparent;
    border: 2px solid #eee;
    color: #eee;
    font-size: 16px;
}
#download-btn{
    text-decoration: none;
    border: 2px solid #eee;
    color: #eee;
    background: rgba(255, 255, 255, 0.3);
    padding-top: 12px ;
    border-radius: 10px;
    text-align: center;
    font-weight: bold;
    transition: 0.5s;
}
#download-btn:hover{
    font-size: 18px;
    box-shadow: 0 0 15px #ffff;
    padding-top: 10px;
}
.thumbnail{
    position: absolute;
    bottom: 50px;
    left: 50%;
    width: max-content;
    z-index: 100;
    display: flex;
    gap: 20px;
}
.thumbnail .item{
    width: 150px;
    height: 220px;
    flex-shrink: 0;
    position: relative;
}
.thumbnail .item img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 20px;
}
.thumbnail .item .content{
    position: absolute;
    bottom: 10px;
    left: 10px;
    right: 10px;
}
.thumbnail .item .content .tittle{
    font-weight: bold;
}

.arrows{
    position: absolute;
    top: 80%;
    right: 52%;
    width: 300px;
    max-width: 30%;
    display: flex;
    gap: 10px;
    align-items: center;
}
.arrows button{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #eee4;
    border: none;
    font-family: monospace;
    color: #fff;
    font-weight: bold;
    font-size: large;
    transition: .5s;
    cursor: pointer;
    z-index: 100;
}
.arrows button:hover{
    background-color: #eee;
    color: #555;
}
.carousel .list .item:nth-child(1){
    z-index: 1;
}
.carousel .list .item:nth-child(1) .author,
.carousel .list .item:nth-child(1) .tittle,
.carousel .list .item:nth-child(1) .topic,
.carousel .list .item:nth-child(1) .des,
.carousel .list .item:nth-child(1) .buttons{
    transform: translateY(50px);
    filter: blur(20px);
    opacity: 0;
    animation : showContent 0.5s 1s linear 1 forwards;
}
.carousel .list .item:nth-child(1) .tittle{
    animation-delay: 1.2s;
}
.carousel .list .item:nth-child(1) .topic{
    animation-delay: 1.4s;
}
.carousel .list .item:nth-child(1) .des{
    animation-delay: 1.6s;
}
.carousel .list .item:nth-child(1) .buttons{
    animation-delay: 1.8s;
}
.carousel.next .list .item:nth-child(1) img{
    width: 150px;
    height: 220px;
    position: absolute;
    left: 50%;
    bottom: 50px;
    border-radius: 20px;
    animation: showImage 0.5s linear 1 forwards;
}
.carousel.next .thumbnail .item:nth-last-child(1){
    width: 0;
    overflow: hidden;
    animation: showThumbnail .5s linear 1 forwards;
}
.carousel.next .thumbnail{
    transform: translateX(150px);
    animation: transformThumbnail .5s linear 1 forwards;
}
.carousel.prev .list .item:nth-child(2){
    z-index: 2;
}
.carousel.prev .list .item:nth-child(2) img{
    position: absolute;
    bottom: 0;
    left: 0;
    animation: outImage 0.5s linear 1 forwards;
}
.carousel.prev .thumbnail .item:nth-child(1){
    width: 0;
    overflow: hidden;
    opacity: 0;
    animation: showThumbnail 0.5s linear 1 forwards;
}
.carousel.prev .list .item:nth-child(2) .author,
.carousel.prev .list .item:nth-child(2) .tittle,
.carousel.prev .list .item:nth-child(2) .topic,
.carousel.prev .list .item:nth-child(2) .des,
.carousel.prev .list .item:nth-child(2) .buttons{
    animation: contentOut 1.5s linear 1 forwards;
}
.carousel.next .arrows button,
.carousel.prev .arrows button{
    pointer-events: none;
}
.time{
    width: 0%;
    height: 5px;
    background-color: tomato;
    position: absolute;
    z-index: 100;
    top: 0;
    left: 0;
}
.carousel.next .time,
.carousel.prev .time{
    width: 100%;
    animation: timeRunning 2s linear 1 forwards;
}

@keyframes showContent {
    to{
        opacity: 1;
        filter: blur(0);
        transform: translateY(0);
    }
}
@keyframes showImage {
    to{
        width: 100%;
        height: 100%;
        left: 0;
        bottom: 0;
        border-radius: 0;
    }
}
@keyframes showThumbnail {
    to{
       width: 150px;
    }
}
@keyframes transformThumbnail {
    to{
        transform: translateX(0);
    }
}
@keyframes outImage {
    to{
        width: 150px;
        height: 220px;
        border-radius: 20px;
        left: 50%;
        bottom: 50px;
    }
}
@keyframes contentOut {
    to{
        transform: translateY(-150px);
        filter: blur(20px);
        opacity: 0;
    }
}
@keyframes timeRunning {
    to{
        width: 0;
    }
}